* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    width: 100%;
    overflow-x:  hidden;
    /* display: table; */
}
.redcl{
color: red;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    height: 47px;
    position: sticky;
    top: 0;
    background: transparent;
    font-family: 'Libre Baskerville', serif;
    font-size: 19px;
}
.navlogo img{
    height: 79px;
    margin: 2px 30px;
    
}
.navlogo img:hover{
    cursor: pointer;

}
nav ul{
    display: flex;
    list-style-type:none;
    align-items: center;
}
.navlist{
    padding: 12px;
    
}
nav a{
    color: rgb(248, 245, 245);
}
nav ul li:hover{
    background-color:rgb(1 6 37);

}
#active{
    background-color:rgb(1 6 37);

}
.footer{
    display: flex;
    align-content: center;
    background-color: black;
    justify-content: space-evenly;
    color: white;
    padding: 30px 0px;
   
}
/*index page*/
.container{
    background-image: url(imagestext/background/thor1.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section{
    display: flex;
    font-family: 'Libre Baskerville', serif;
    align-items: flex-end;
    flex-direction: column;
    margin: auto;
    margin-top: 15%;
    padding: 0% 5%;
}
section h1{
    color: #0a0a0a;
    font-size: 84px;
    font-family: emoji;
    text-shadow: 0px 0px 2px #fbf9f9;
    padding-right: 6%;
    
}
.para{
    padding: 57px 0px;
    text-align: left;
}
section p{
    font-size: 20px;
    text-align: left;
    padding: 5px;
    color: white;
}
#indexbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 25px;
    padding: 46px 5%;
}
.box{
    background-color: #ff0000cc;
    display: flex;
    padding: 20px;
    margin: 20px;
    height: 52px;
    width: 16%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.box a{
    color: white;
}
.box:hover{
    background-color: #000000d4;
    border: 1px solid red;
}


/* Contact Page */
#blog{
    background-color: rgb(4, 48, 78);
    background-image: url(imagestext/background/thor2.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blogspot{
   height: 100%;
    width: 95%;
    background-image: url(imagestext/background/bg1.jpg);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 21px black;

}
.blogspot h1{
    font-size: 125px;
    margin: auto;
    color: whitesmoke;
    margin-top: 10%;
    margin-bottom: 8%;
    text-shadow: 0px 0px 7px black;
}
.blogspot p{
    font-size: 25px;
    display: block;
    margin: auto;
    margin-bottom: 3%;
    color: white;
    font-family: 'Roboto Slab';
    text-align: center;
}
.blogimage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 7px 0px;
}
.blogbox{
    height: 100%;
    width: 20%;
    border-radius: 11px;
    margin: 0px 20px;
    transition: transform .7s;
    background-color: #0d0e0e;
    color: white;
    text-align: center;
    font-size: 19px;
    font-family: cursive;
    border: 1px solid #d62828;
}
.blogbox:hover{
    
    transform: scale(1.1);
    box-shadow: 2px 2px 20px black;
}
.blogbox img{
    height: 234px;
    width: 100%;
    border-radius: 11px;
    object-fit: cover;
    transition: transform .7s;
}
.projectname{
    border: 1px solid #d62828;
    background-color: #29091b;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    align-content: center;
    justify-content: center;
    width: 17%;
    align-items: center;
    height: 47px;
    font-size: 23px;
    color: white;
    font-family: 'Roboto Slab';
    margin-bottom: 20px;
    cursor:pointer;
}
.watchmore{
    border: 1px solid #1a58a9;
    background-color: #efefe38f;
    display: flex;
    margin: auto;
    width: 10%;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
    height: 28px;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Roboto Slab';
    cursor: pointer;
}
/* About Page */
#about{
    background-color: rgb(4, 48, 78);
    background-image: url(imagestext/background/aboutbg1.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 350px;
    object-fit: cover;
    
}
.aboutsite{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: black;
    width: 95%;
    border:1px solid #d62828;
    background-color: #304b6b91;
    margin-top: 99px;
    height: 100%;
    padding: 32px 0px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.aboutsite h1{
    font-size: 108px;
    font-family: 'Libre Baskerville';
}
 .myimg img{
    border: 1px solid red;
    height: 245px;
    border-radius: 50%;
    box-shadow: 0px 0px 21px black;
    transition: transform .7s;
    cursor: pointer;
}
.myimg img:hover{
    transform: scale(1.1);
}

.aboutsite p{
    font-size: 24px;
    font-family: 'Roboto Slab';
    margin: 8px 12px;
    color: floralwhite;
}
.aboutsite h2{
    font-family: 'Roboto Slab';
    font-size: 29px;
    margin: 0px 10px;
    margin-top: 20px;
}
.social{
    display: flex;
}
.logo img{
    height: 40px;
    width: 40px;
    margin: 15px 12px;
}
/* div#contact{
    background-color: rgb(4, 48, 78);
    background-image: url(/MyBlog/background/contactbg1.jpg);
    height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}    
Project page */
@media only screen and (max-width: 1434px) {
    .writing{
        font-size: 40px;
        width: 54%;
        height: 100%;
    }
    nav{
        font-size: 13px;
        top: 0;
    }
    
}
@media only screen and (max-width:400px) {
     nav{
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .container{
        background-position-x: -196px;
    }
 section{
        margin-top: 40%;
        text-align: center;
        padding:0;
    }
    .para{
        padding: 22px 0px;
        padding-left: 97px;
    }
    section h1{
        font-size: 35px;
        margin: auto;
    }
    section p{
        font-size: 16px;
        padding: 0;
    }
    #indexbox{
        padding: 0;
        font-size: 13px;
        justify-content: center;
    }
    .box{
        height: 10px;
        margin: 10px;
        padding: 15px;
        width: 28%;
    }
    .flipbox{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .projectname,.watchmore{
        width: 44%;
    }
    .blogbox{
        height: 100%;
        width: 93%;
        margin: 4px 0px;
    }
/*     .blogbox:hover{
        transform: none;
        box-shadow:none;
    } */
    .blogimage{
        flex-direction: column;
        flex-wrap: wrap;
    }
    #about{
        padding-bottom: 200px;
    }
    .aboutsite p{
        text-align:center;
    }
    .aboutsite h1{
        text-align: center;
        font-size: 60px;
    }
        .blogspot h1{
        font-size: 34px;
    }
    .blogspot p{
        font-size: 15px;
        
    }
    .footer{
        font-size: 10px;
        padding: 10px 0px;
    }
        
    }       
